<!DOCTYPE html>
<html>
<head>
    <title>BUYSELL</title>
</head>
<body>
<h1>BUY</h1>
<hr>

<h4>Информация о товаре</h4>
<b>Название товара: </b> <span th:text="${product.title}"></span><br>
<b>Описание: </b> <span th:text="${product.description}"></span><br>
<b>Цена: </b> <span th:text="${product.price}"></span><br>
<b>Город: </b> <span th:text="${product.city}"></span><br>
<b>Автор: </b> <span th:text="${product.author}"></span><br>
<hr>
<h3>Создать новый товар</h3>

<form action="#" th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
    <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>
